* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: beige;
}

h1 {
  color: #ff6e14;
  text-align: center;
}

h2 {
  color: #9a4e2d;
}

.recipes > li > a {
  color: #ff35a1;
}